#top {
  display:none;
  position: fixed;
  z-index: 20000;
  top: 0;
  text-align: center;
  font-size: 0.70em;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
  width: 100%;
  background: #fb7756;
  color: rgb(243, 243, 250);

  @include breakpoint(small) {
    span { display: none; }
  }
}
